[user]
	name = Theo
	email = 130441797+theguega@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore_global
[push]
  default = simple
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[alias]
	wta = "!f() { git worktree add -b \"$1\" \"../$1\"; }; f"
	wtr = "!f() { git worktree remove \"../$1\"; }; f"
	wtl = "!f() { git worktree list; }; f"
