theme = "catppuccin_latte"

[editor]
line-number = "relative"
cursorline = true
color-modes = true
auto-format = true
true-color = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true

[keys.insert]
up = "no_op"
down = "no_op"
left = "no_op"
right = "no_op"

[keys.normal]
up = "no_op"
down = "no_op"
left = "no_op"
right = "no_op"

[keys.select]
up =  "no_op"
down = "no_op"
left = "no_op"
right = "no_op"
